h6.grey-text.mx-0 Сервис по поиску и покупке билетов на концерты
span
  a(href="/register") Зарегистрировавшись
  |, вы будете иметь дополнительные возможности:
ul.browser-default
  li Покупка билетов, оплата онлайн
  li Добавление концертов в избранное
  li Поиск компании для похода на интересующий концерт
br
p Пользуясь данным сайтом, вы также принимаете соглашение на использование cookies в вашем браузере