-
  const userLoggedIn = true
  const siteName = "kznAgenda"
  const user = userLoggedIn ? {username: 'Test user'} : undefined
  const theme = {primary: '#554488', accent: '#fc6d26', light: '#fca326', dark: '#e24329'}
