-
  var siteName = "kznAgenda"
  var user = {
    "first_name": "Имя",
    "last_name": "Фамилия",
    "username": "test_user"
  }
  var theme = {"primary": "#554488", "accent": "#fc6d26", "light": "#fca326", "dark": "#e24329"}
