
.ma-0 {
    margin: 0 !important
}

.ma-1 {
    margin: 4px !important
}

.ma-2 {
    margin: 8px !important
}

.ma-3 {
    margin: 12px !important
}

.ma-4 {
    margin: 16px !important
}

.ma-5 {
    margin: 20px !important
}

.ma-6 {
    margin: 24px !important
}

.ma-7 {
    margin: 28px !important
}

.ma-8 {
    margin: 32px !important
}

.ma-9 {
    margin: 36px !important
}

.ma-10 {
    margin: 40px !important
}

.ma-11 {
    margin: 44px !important
}

.ma-12 {
    margin: 48px !important
}

.ma-auto {
    margin: auto !important
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.mx-1 {
    margin-right: 4px !important;
    margin-left: 4px !important
}

.mx-2 {
    margin-right: 8px !important;
    margin-left: 8px !important
}

.mx-3 {
    margin-right: 12px !important;
    margin-left: 12px !important
}

.mx-4 {
    margin-right: 16px !important;
    margin-left: 16px !important
}

.mx-5 {
    margin-right: 20px !important;
    margin-left: 20px !important
}

.mx-6 {
    margin-right: 24px !important;
    margin-left: 24px !important
}

.mx-7 {
    margin-right: 28px !important;
    margin-left: 28px !important
}

.mx-8 {
    margin-right: 32px !important;
    margin-left: 32px !important
}

.mx-9 {
    margin-right: 36px !important;
    margin-left: 36px !important
}

.mx-10 {
    margin-right: 40px !important;
    margin-left: 40px !important
}

.mx-11 {
    margin-right: 44px !important;
    margin-left: 44px !important
}

.mx-12 {
    margin-right: 48px !important;
    margin-left: 48px !important
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.my-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important
}

.my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important
}

.my-3 {
    margin-top: 12px !important;
    margin-bottom: 12px !important
}

.my-4 {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.my-6 {
    margin-top: 24px !important;
    margin-bottom: 24px !important
}

.my-7 {
    margin-top: 28px !important;
    margin-bottom: 28px !important
}

.my-8 {
    margin-top: 32px !important;
    margin-bottom: 32px !important
}

.my-9 {
    margin-top: 36px !important;
    margin-bottom: 36px !important
}

.my-10 {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}

.my-11 {
    margin-top: 44px !important;
    margin-bottom: 44px !important
}

.my-12 {
    margin-top: 48px !important;
    margin-bottom: 48px !important
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-1 {
    margin-top: 4px !important
}

.mt-2 {
    margin-top: 8px !important
}

.mt-3 {
    margin-top: 12px !important
}

.mt-4 {
    margin-top: 16px !important
}

.mt-5 {
    margin-top: 20px !important
}

.mt-6 {
    margin-top: 24px !important
}

.mt-7 {
    margin-top: 28px !important
}

.mt-8 {
    margin-top: 32px !important
}

.mt-9 {
    margin-top: 36px !important
}

.mt-10 {
    margin-top: 40px !important
}

.mt-11 {
    margin-top: 44px !important
}

.mt-12 {
    margin-top: 48px !important
}

.mt-auto {
    margin-top: auto !important
}

.mr-0 {
    margin-right: 0 !important
}

.mr-1 {
    margin-right: 4px !important
}

.mr-2 {
    margin-right: 8px !important
}

.mr-3 {
    margin-right: 12px !important
}

.mr-4 {
    margin-right: 16px !important
}

.mr-5 {
    margin-right: 20px !important
}

.mr-6 {
    margin-right: 24px !important
}

.mr-7 {
    margin-right: 28px !important
}

.mr-8 {
    margin-right: 32px !important
}

.mr-9 {
    margin-right: 36px !important
}

.mr-10 {
    margin-right: 40px !important
}

.mr-11 {
    margin-right: 44px !important
}

.mr-12 {
    margin-right: 48px !important
}

.mr-auto {
    margin-right: auto !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-1 {
    margin-bottom: 4px !important
}

.mb-2 {
    margin-bottom: 8px !important
}

.mb-3 {
    margin-bottom: 12px !important
}

.mb-4 {
    margin-bottom: 16px !important
}

.mb-5 {
    margin-bottom: 20px !important
}

.mb-6 {
    margin-bottom: 24px !important
}

.mb-7 {
    margin-bottom: 28px !important
}

.mb-8 {
    margin-bottom: 32px !important
}

.mb-9 {
    margin-bottom: 36px !important
}

.mb-10 {
    margin-bottom: 40px !important
}

.mb-11 {
    margin-bottom: 44px !important
}

.mb-12 {
    margin-bottom: 48px !important
}

.mb-auto {
    margin-bottom: auto !important
}

.ml-0 {
    margin-left: 0 !important
}

.ml-1 {
    margin-left: 4px !important
}

.ml-2 {
    margin-left: 8px !important
}

.ml-3 {
    margin-left: 12px !important
}

.ml-4 {
    margin-left: 16px !important
}

.ml-5 {
    margin-left: 20px !important
}

.ml-6 {
    margin-left: 24px !important
}

.ml-7 {
    margin-left: 28px !important
}

.ml-8 {
    margin-left: 32px !important
}

.ml-9 {
    margin-left: 36px !important
}

.ml-10 {
    margin-left: 40px !important
}

.ml-11 {
    margin-left: 44px !important
}

.ml-12 {
    margin-left: 48px !important
}

.ml-auto {
    margin-left: auto !important
}


.ma-n1 {
    margin: -4px !important
}

.ma-n2 {
    margin: -8px !important
}

.ma-n3 {
    margin: -12px !important
}

.ma-n4 {
    margin: -16px !important
}

.ma-n5 {
    margin: -20px !important
}

.ma-n6 {
    margin: -24px !important
}

.ma-n7 {
    margin: -28px !important
}

.ma-n8 {
    margin: -32px !important
}

.ma-n9 {
    margin: -36px !important
}

.ma-n10 {
    margin: -40px !important
}

.ma-n11 {
    margin: -44px !important
}

.ma-n12 {
    margin: -48px !important
}

.mx-n1 {
    margin-right: -4px !important;
    margin-left: -4px !important
}

.mx-n2 {
    margin-right: -8px !important;
    margin-left: -8px !important
}

.mx-n3 {
    margin-right: -12px !important;
    margin-left: -12px !important
}

.mx-n4 {
    margin-right: -16px !important;
    margin-left: -16px !important
}

.mx-n5 {
    margin-right: -20px !important;
    margin-left: -20px !important
}

.mx-n6 {
    margin-right: -24px !important;
    margin-left: -24px !important
}

.mx-n7 {
    margin-right: -28px !important;
    margin-left: -28px !important
}

.mx-n8 {
    margin-right: -32px !important;
    margin-left: -32px !important
}

.mx-n9 {
    margin-right: -36px !important;
    margin-left: -36px !important
}

.mx-n10 {
    margin-right: -40px !important;
    margin-left: -40px !important
}

.mx-n11 {
    margin-right: -44px !important;
    margin-left: -44px !important
}

.mx-n12 {
    margin-right: -48px !important;
    margin-left: -48px !important
}

.my-n1 {
    margin-top: -4px !important;
    margin-bottom: -4px !important
}

.my-n2 {
    margin-top: -8px !important;
    margin-bottom: -8px !important
}

.my-n3 {
    margin-top: -12px !important;
    margin-bottom: -12px !important
}

.my-n4 {
    margin-top: -16px !important;
    margin-bottom: -16px !important
}

.my-n5 {
    margin-top: -20px !important;
    margin-bottom: -20px !important
}

.my-n6 {
    margin-top: -24px !important;
    margin-bottom: -24px !important
}

.my-n7 {
    margin-top: -28px !important;
    margin-bottom: -28px !important
}

.my-n8 {
    margin-top: -32px !important;
    margin-bottom: -32px !important
}

.my-n9 {
    margin-top: -36px !important;
    margin-bottom: -36px !important
}

.my-n10 {
    margin-top: -40px !important;
    margin-bottom: -40px !important
}

.my-n11 {
    margin-top: -44px !important;
    margin-bottom: -44px !important
}

.my-n12 {
    margin-top: -48px !important;
    margin-bottom: -48px !important
}

.mt-n1 {
    margin-top: -4px !important
}

.mt-n2 {
    margin-top: -8px !important
}

.mt-n3 {
    margin-top: -12px !important
}

.mt-n4 {
    margin-top: -16px !important
}

.mt-n5 {
    margin-top: -20px !important
}

.mt-n6 {
    margin-top: -24px !important
}

.mt-n7 {
    margin-top: -28px !important
}

.mt-n8 {
    margin-top: -32px !important
}

.mt-n9 {
    margin-top: -36px !important
}

.mt-n10 {
    margin-top: -40px !important
}

.mt-n11 {
    margin-top: -44px !important
}

.mt-n12 {
    margin-top: -48px !important
}

.mr-n1 {
    margin-right: -4px !important
}

.mr-n2 {
    margin-right: -8px !important
}

.mr-n3 {
    margin-right: -12px !important
}

.mr-n4 {
    margin-right: -16px !important
}

.mr-n5 {
    margin-right: -20px !important
}

.mr-n6 {
    margin-right: -24px !important
}

.mr-n7 {
    margin-right: -28px !important
}

.mr-n8 {
    margin-right: -32px !important
}

.mr-n9 {
    margin-right: -36px !important
}

.mr-n10 {
    margin-right: -40px !important
}

.mr-n11 {
    margin-right: -44px !important
}

.mr-n12 {
    margin-right: -48px !important
}

.mb-n1 {
    margin-bottom: -4px !important
}

.mb-n2 {
    margin-bottom: -8px !important
}

.mb-n3 {
    margin-bottom: -12px !important
}

.mb-n4 {
    margin-bottom: -16px !important
}

.mb-n5 {
    margin-bottom: -20px !important
}

.mb-n6 {
    margin-bottom: -24px !important
}

.mb-n7 {
    margin-bottom: -28px !important
}

.mb-n8 {
    margin-bottom: -32px !important
}

.mb-n9 {
    margin-bottom: -36px !important
}

.mb-n10 {
    margin-bottom: -40px !important
}

.mb-n11 {
    margin-bottom: -44px !important
}

.mb-n12 {
    margin-bottom: -48px !important
}

.ml-n1 {
    margin-left: -4px !important
}

.ml-n2 {
    margin-left: -8px !important
}

.ml-n3 {
    margin-left: -12px !important
}

.ml-n4 {
    margin-left: -16px !important
}

.ml-n5 {
    margin-left: -20px !important
}

.ml-n6 {
    margin-left: -24px !important
}

.ml-n7 {
    margin-left: -28px !important
}

.ml-n8 {
    margin-left: -32px !important
}

.ml-n9 {
    margin-left: -36px !important
}

.ml-n10 {
    margin-left: -40px !important
}

.ml-n11 {
    margin-left: -44px !important
}

.ml-n12 {
    margin-left: -48px !important
}


.pa-0 {
    padding: 0 !important
}

.pa-1 {
    padding: 4px !important
}

.pa-2 {
    padding: 8px !important
}

.pa-3 {
    padding: 12px !important
}

.pa-4 {
    padding: 16px !important
}

.pa-5 {
    padding: 20px !important
}

.pa-6 {
    padding: 24px !important
}

.pa-7 {
    padding: 28px !important
}

.pa-8 {
    padding: 32px !important
}

.pa-9 {
    padding: 36px !important
}

.pa-10 {
    padding: 40px !important
}

.pa-11 {
    padding: 44px !important
}

.pa-12 {
    padding: 48px !important
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.px-1 {
    padding-right: 4px !important;
    padding-left: 4px !important
}

.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important
}

.px-3 {
    padding-right: 12px !important;
    padding-left: 12px !important
}

.px-4 {
    padding-right: 16px !important;
    padding-left: 16px !important
}

.px-5 {
    padding-right: 20px !important;
    padding-left: 20px !important
}

.px-6 {
    padding-right: 24px !important;
    padding-left: 24px !important
}

.px-7 {
    padding-right: 28px !important;
    padding-left: 28px !important
}

.px-8 {
    padding-right: 32px !important;
    padding-left: 32px !important
}

.px-9 {
    padding-right: 36px !important;
    padding-left: 36px !important
}

.px-10 {
    padding-right: 40px !important;
    padding-left: 40px !important
}

.px-11 {
    padding-right: 44px !important;
    padding-left: 44px !important
}

.px-12 {
    padding-right: 48px !important;
    padding-left: 48px !important
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important
}

.py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.py-3 {
    padding-top: 12px !important;
    padding-bottom: 12px !important
}

.py-4 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.py-5 {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

.py-6 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.py-7 {
    padding-top: 28px !important;
    padding-bottom: 28px !important
}

.py-8 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.py-9 {
    padding-top: 36px !important;
    padding-bottom: 36px !important
}

.py-10 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.py-11 {
    padding-top: 44px !important;
    padding-bottom: 44px !important
}

.py-12 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-1 {
    padding-top: 4px !important
}

.pt-2 {
    padding-top: 8px !important
}

.pt-3 {
    padding-top: 12px !important
}

.pt-4 {
    padding-top: 16px !important
}

.pt-5 {
    padding-top: 20px !important
}

.pt-6 {
    padding-top: 24px !important
}

.pt-7 {
    padding-top: 28px !important
}

.pt-8 {
    padding-top: 32px !important
}

.pt-9 {
    padding-top: 36px !important
}

.pt-10 {
    padding-top: 40px !important
}

.pt-11 {
    padding-top: 44px !important
}

.pt-12 {
    padding-top: 48px !important
}

.pr-0 {
    padding-right: 0 !important
}

.pr-1 {
    padding-right: 4px !important
}

.pr-2 {
    padding-right: 8px !important
}

.pr-3 {
    padding-right: 12px !important
}

.pr-4 {
    padding-right: 16px !important
}

.pr-5 {
    padding-right: 20px !important
}

.pr-6 {
    padding-right: 24px !important
}

.pr-7 {
    padding-right: 28px !important
}

.pr-8 {
    padding-right: 32px !important
}

.pr-9 {
    padding-right: 36px !important
}

.pr-10 {
    padding-right: 40px !important
}

.pr-11 {
    padding-right: 44px !important
}

.pr-12 {
    padding-right: 48px !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-1 {
    padding-bottom: 4px !important
}

.pb-2 {
    padding-bottom: 8px !important
}

.pb-3 {
    padding-bottom: 12px !important
}

.pb-4 {
    padding-bottom: 16px !important
}

.pb-5 {
    padding-bottom: 20px !important
}

.pb-6 {
    padding-bottom: 24px !important
}

.pb-7 {
    padding-bottom: 28px !important
}

.pb-8 {
    padding-bottom: 32px !important
}

.pb-9 {
    padding-bottom: 36px !important
}

.pb-10 {
    padding-bottom: 40px !important
}

.pb-11 {
    padding-bottom: 44px !important
}

.pb-12 {
    padding-bottom: 48px !important
}

.pl-0 {
    padding-left: 0 !important
}

.pl-1 {
    padding-left: 4px !important
}

.pl-2 {
    padding-left: 8px !important
}

.pl-3 {
    padding-left: 12px !important
}

.pl-4 {
    padding-left: 16px !important
}

.pl-5 {
    padding-left: 20px !important
}

.pl-6 {
    padding-left: 24px !important
}

.pl-7 {
    padding-left: 28px !important
}

.pl-8 {
    padding-left: 32px !important
}

.pl-9 {
    padding-left: 36px !important
}

.pl-10 {
    padding-left: 40px !important
}

.pl-11 {
    padding-left: 44px !important
}

.pl-12 {
    padding-left: 48px !important
}


.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.text-justify {
    text-align: justify !important
}

.text-start {
    text-align: start !important
}

.text-end {
    text-align: end !important
}

.text-wrap {
    white-space: normal !important
}

.text-no-wrap {
    white-space: nowrap !important
}

.text-break {
    overflow-wrap: break-word !important;
    word-break: break-word !important
}

.text-truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important
}

.text-none {
    text-transform: none !important
}

.text-capitalize {
    text-transform: capitalize !important
}

.text-lowercase {
    text-transform: lowercase !important
}

.text-uppercase {
    text-transform: uppercase !important
}