extends inc/layout

block head
  title #{siteName} | Авторизация

block content
  .row
    h4= siteName
      |.ru
  .row
    .col.s12.l6.pl-0.pr-4
      include inc/advantages
    .card-panel.col.s12.offset-l1.l5.deep-purple.lighten-5.px-5.pb-3
      h3 Вход
      form(action="/login" method="POST")
        .input-field
          i.material-icons.prefix account_circle
          input#login.validate(type="text" name="login")
          label(for="login") Имя пользователя
        .input-field
          i.material-icons.prefix lock
          input#password.validate(type="password" name="password")
          label(for="password") Пароль

        label.ml-2
          input(type="checkbox" name="stayLoggedIn")
          span(style="height: auto;") Остаться в системе
        button.right.btn.waves-effect.waves-light.accent.mb-1.mt-3.col.s12(type="submit")
          | Войти
          i.material-icons.right send
